#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #00a087;
    color: #e8fdff;
    padding: 0 2em;
    z-index: 1;
  }
  
  #nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
  }
  
  #nav-bar .header {
    font-size: 2em;
    line-height: 2.5em;
    float: left;
    padding-left: 10px;
  }

  #nav-bar button {
    float: right;
    top: 12%;
    height: 75%;
    border-radius: 15px;
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 18px;
    background-color: #e8fdff;
    color: #00a087;
    opacity: .80;
    position: relative;
  }

  #nav-bar button:hover {
    background-color: #ffffff;
    position: relative;
    top: 5px;
    opacity: 1;
  }
